
*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", helvetica, Arial, "Lucida Grande", sans-serif;
     font-weight: 300;
     color: #52ab98;
}

/* heading and Logo */
h1, h2 {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: #52ab98;
    
}

#logo {
    font-size: 280%;
    float: left;
    letter-spacing: 1px;
    margin-left: 0.5em;
}

/*NAV Links*/
#menu{
    margin-right: 1.875em;
    letter-spacing: 3px;
    background: color #f2f2f2;;
    width: 100%;
    height: 4.8em;
    position: sticky;
    top: 0;
    z-index: 100;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    font-size: 100%;
    margin-right: 1.875em;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#ticket-nav {
    border: solid 2px #2b6777;
    padding: 5px 20px ;
}

#menu a:hover {
    color: #2b6777;
    border-bottom: 2px solid #2b6777;
}

.active{
    color: #2b6777;
    border-bottom: 2px solid #2b6777;
}


/*Background Image*/
#cover-note, h2{
    color:aqua
}

#main-image{
    height: 38.5em;
    width: 100%;
    background-image: url("../images/DC.webp");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
}

/* Cover note Hero Image */
#cover-note{
    max-height: 180px;
    width: 400px;
    background-color: rgba(242, 242, 242, .8);
    position: absolute;
    left: 40%;
    right: 50%;
    top: 50%;
    bottom: 10%;
    text-align: center;
    padding-top: 55px;
}

#cover-header{
    font-size: 280%;
    color: #52ab98;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.ticket-button{
    text-decoration: none;
    color: #52ab98;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 1500;
    text-align: center;

    border: solid 2px #2b6777;
    border-radius: 3.125em;

    padding: 5px 20px ;
    background-color: #ffffff;   
    
    transition-duration: 200ms
}

.ticket-button:hover{
    background-color: #c8d8e4;
}


/*About Us Section Left */
#about-us{
    height: 28.5em ;
    width: 100%;
    background-color: #2b6777;
    position: relative;  
    border: 0px;
}

.about-left{     
    display: block;
    width: 56.250em;
    height: 300px;
    padding: 1px 0 0 75px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 3px;
    color: white;
    font-size: 13px;
    font-weight: 100;
    position: absolute;
    top: 25px;
}
    
.about-head {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 3.5px;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    position: relative;
}

/*About Us Section right */

#slide-position{
    float: right;
    display: inline-block;
    width: 56.250em;
    height: 28.5em;
    justify-content: flex-end;
    background-color: #c8d8e4; 
    border: 0px;
    position: relative;
}

#about-image {
    max-width: 100%;
    margin-right: 85px;
    position: absolute;  
    max-height: 95%;
    left: 7.813em;
    top: 0.750em;
}

/*  Mid Row -landing Page Section*/

.mid-row{
    background-color: #fff;
    padding: 66px 0 44px 0;
    min-width: 60em;
    height: 25.5em ;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-left: 350px;
    padding-right: 350px;
}


.grid h5 {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: #2b6777;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.grid h3{
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: #2b6777;
    text-decoration: none;
}

.grid{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 3px;
    color: #2b6777;
}

.grid, h3, h5 {
    line-height: 25px;
}

#image1{
    width:  200px;
    height: 200px;
    object-fit: cover;
}

#image2{
    width:  200px;
    height: 200px;
    object-fit: cover;
}

#image3{
    width:  200px;
    height: 200px;
    object-fit: cover;
}

/*footer*/

footer {
    background-color: #c8d8e4;
     max: height 6px;.5em ;
}

#copyright {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

#menu i {
    font-size: 250%;
}

footer a h1 {
    padding-top: 20px;
}

/*Venue Page*/

.description{
    height: 20.5em ;
    width: 100%;
    background-color: #2b6777;
    position: relative;  
}

.middle-des{
    display: block;
    width: 56.250em;
    height: 300px;
    padding: 1px 0 0 75px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 3px;
    color: white;
    font-size: 13px;
    font-weight: 100;
    position: absolute;
    top: 25px;
    left: 27%;
}

.mid-pos{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-left: 350px;
    padding-right: 350px;
}






